<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>Aleatório</h1>
    <h2><%= numero %></h2>


    <% if (numero % 2 == 0) { %>
        <h3>O número é par</h3>
    <% } else{ %>
        <h3>O número é ímpar</h3>
    <% } %>
</body>
</html>