<%- include('partials/header')  %>

<head>
    <link rel='stylesheet' type='text/css' href='/css/home.css'>
</head>

<div id="blockchains">SOMETHING LIKE SOLANA, APTOS, ETC...</div>
<h1>Home</h1>

</div>



<%- include('partials/footer')  %>