.profile-container {
  background-color: #18091b;
  overflow: auto;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: auto;
  color: white;
}

.profile-container img {
  width: 10em;
  height: 10em;
}

.text {
  height: auto;
  margin-left: 1em;
}

.text h1 {
  font-size: 2em;
}
.text h2 {
  color: rgb(166, 75, 226);
  font-size: 1.2em;
}


.profile-buttons {
  width: 73%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: end;
  align-items: end;
}

.profile-buttons #edit-password, #delete-account, #edit-username {
  margin-left: 2vw;
  padding: 2vw;
  display: flex;
  background-color: rgba(110, 67, 108, 0.651);
  flex-direction: column;
  min-height: 100%;
  width: auto;
  height: auto;
  border-radius: 1vw;
}