#title {
  display: flex;
  justify-content: center;
  color: cyan;
}

.container {
  display: block;
  margin: 0;
  padding-left: 2vw;
}

.token-container {
  position: relative;
  overflow: auto;
  color: white;
  background-color: rgb(33,37,41);
  width: 96vw;
  padding: 1vh;
  margin-bottom: 2vh;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  background-color: #f0f0f0;
  border: 0.2em solid #ccc;
  color: #333;
  padding: 0.5em 0.75em;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 2em;
  transition: background-color 0.3s;
}
.pagination button:hover {
  background-color: #007BFF;
  color: white;
}

#especificTokenPage {
  width: 10vw;
  height: 10vh;
  position: sticky;
  padding-top: 1vh;
  padding-right: 1vh;
  overflow: hidden;
  font-size: calc(1vh + 1vw);
  background-color: #fff; 
  color: #000; 
  border: none; 
  cursor: pointer;
  height: calc(5vh + 5vh);
  width: calc(10vw + 10vh);
  left: 100%;
  top: 100%;
}

.responsive-image {
  width: 10%;
  height: auto;
  max-width: 100%;
}

/* For tablets and smaller screens */
@media (max-width: 768px) {
  .responsive-image {
      width: 30%;
  }
}

/* For smartphones */
@media (max-width: 480px) {
  .responsive-image {
      width: 50%;
  }
}