#title {
  display: flex;
  justify-content: center;
  color: cyan;
}

.container {
  display: block;
  margin: 0;
  padding-left: 2vw;
}

.token-container {
  color: white;
  background-color: rgb(33,37,41);
  width: 96vw;
  margin-bottom: 2vh;
}